<span class="d-flex justify-content-end mt-4 me-3">
  <%= link_to "Create New Post", new_user_post_path(@user), class: "btn btn-success" %>
</span>

<div class="container-fluid">
  <%= render 'pages/user_card', user: @user %>
</div>

<div class="container-fluid mt-5">
  <div class="card border-2 border-dark bio">
    <div class="card-body">
      <h4>Bio</h4>
      <p class="m-0"><%= @user.bio %></p>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <a href="<%= user_post_path(post.author, post) %>" class="text-decoration-none">
        <div class="mb-4">
          <%= render 'pages/post_card', post: post %>
        </div>
      </a>
    <% end %>
  <% else %>
    <p>No posts available.</p>
  <% end %>
  <div class="d-flex d-flex justify-content-center ">
    <a href="/users/<%= @user.id %>/posts/" class=" btn btn-primary mb-4">See all posts</a>
  </div>
</div>