<span class="d-flex justify-content-end mt-4">
  <%= link_to "Create New Post", new_user_post_path(@user), class: "btn btn-success" %>
</span>
<div class="container-fluid">
  <div class="row">
    <%= render 'pages/user_card', user: @user %>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="card border-2 border-dark">
    <div class="card-body">
      <h4>Bio</h4>
      <p class="m-0"><%= @user.bio %></p>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <% @posts.each do |post| %>
    <div class="card border-2 border-dark mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.text %></p>
        <div class="d-flex gap-1 justify-content-end">
          <p class="m-0">Comments: <%= post.comment_counter %>,</p>
          <p class="m-0">Likes: <%= post.likes_counter %></p>
        </div>
      </div>
    </div>
  <% end %>
  <div class="text-center">
  <%= link_to "See All Posts", user_posts_path(@user), class: "btn btn-dark mb-5" %>
  </div>
</div>