<div class="container mt-5">
  <%= render 'pages/user_card', user: @user %><br/>
  <div class="card border-2 border-dark bio">
    <div class="card-body">
      <h4>Bio</h4>
      <p class="m-0"><%= @user.bio %></p>
    </div>
</div>
  <% @posts.each do |post| %>
    <a href="/users/<%= @user.id %>/posts/<%= post.id %>" class="text-decoration-none">
      <div class="mb-3">
        <%= render 'pages/post_card', post: post %>
      </div>
    </a>
  <% end %>
  <div class="w-100 mt-5 d-flex justify-content-center align-items-center">
    <a href="/users/<%= @user.id %>/posts" class="btn btn-primary">See all posts</a>
  </div>
</div>