<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
    crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header class="p-3 text-bg-dark bg-success">
  <div class="container">
    <div class="d-flex w-100 flex-wrap align-items-center justify-content-end">
      <div class="text-end">
        <h3 class="blog">BlogApp</h3>
      </div>
      <% if user_signed_in? %>
        <div class="text-end">
          <%= link_to 'Logout', destroy_user_session_path, class: "btn btn-warning", data: { turbo_method: :delete } %>
        </div>
      <% else %>
        <div class="text-end">
          <%= link_to 'Login', new_user_session_path, class: "btn btn-outline-light me-2" %>
          <%= link_to 'Sign-up', new_user_registration_path, class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>
  </div>
</header>
  <div class="container-fluid">

  <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  <%= yield %>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" 
crossorigin="anonymous"></script>
  </body>
</html>
